nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #1d3557;
    font-size: larger;
    font-weight: bold;
    height: 30px;
}

.header-logo {
    font-size: x-large;
    display: flex;
    flex-direction: row;
    align-content: center;
}

    .header-logo h4 {
        color: #a8dadc;
        border-left: 3px solid #a8dadc;
        margin: 0 30px;
        padding: 5px 0 5px 15px;
        /* padding-left: 15px; */
        font-weight: normal;
        font-size: 1rem;
        align-self: center;
    }
    
        .header-logo a{
            text-decoration: none;
            color: #a8dadc;
            transition: font-size 0.2s ease-in-out;
        }

            .header-logo a:hover{
                font-size: xx-large;
                transition: font-size 0.2s ease-in-out;
            }

            .header-logo a:active{
                color: #f1faee;
            }

    .header-li {
        list-style: none;
        align-items: center;
    }

        .header-li li {
            display: inline-block;
            margin-left: 20px;
        }

        .header-li a {
            text-decoration: none;
            color: #a8dadc;
            transition: all 0.2s ease-in-out;
        }

            .header-li a:hover {
                transition: all 0.2s ease-in-out;
                font-size: x-large;
            }

            .header-li a:active {
                color: #f1faee;
            }
