nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #1d3557;
    font-size: larger;
    font-weight: bold;
    height: 30px;
}

    .header-logo {
        font-size: x-large;
    }
    
        .header-logo a{
            text-decoration: none;
            color: #a8dadc;
        }

            .header-logo a:hover{
                font-size: xx-large;
            }

            .header-logo a:active{
                color: #f1faee;
            }

    .header-li {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

        .header-li li {
            padding: 0 30px;
        }

        .header-li a {
            text-decoration: none;
            color: #a8dadc;
            transition: all 0.2s ease-in-out;
        }

            .header-li a:hover {
                transition: all 0.2s ease-in-out;
                font-size: x-large;
            }

            .header-li a:active {
                color: #f1faee;
            }
