* {
    padding: 0;
    margin: 0;
}

.home {
    padding: 20px;
    background-color: #457b9d;
    min-width: 320px;
    max-width: 1200px;
}

.home-owner {
    border-radius: 20px;
    background: radial-gradient(circle, #457b9d, #457b9d, #457b9d, #457b9d, #457b9d, #457b9d, #457b9d, #1d3557);
    /* border: 2px solid black; */
}

    .home h1 {
        margin: 0 10px;
        color: #f1faee;
        border-bottom: 2px solid #f1faee;
    }

    .home-flush {
        min-height: 130px;
        transition: all 0.2s ease-in-out;
    }

        .home-flush h1 {
            font-size: medium;
            font-weight: normal;
        }

        .home-flush a {
            display: inline-flex;
            text-decoration: none;
        }

            .home-flush a:hover {
                filter: brightness(0.5);
                transition: all 0.2s ease-in-out;
            }

            .home-flush a:active {
                filter: brightness(1.2);
            }