.productCard {
    width: 200px;
    height: 400px;
    background-color: #a8dadc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: inline-block;
    overflow: hidden;
    margin: 20px 10px;
    transition: all 0.2s ease-in-out;
} 

.productCard:hover {
    cursor: pointer;
    filter: brightness(0.5);
    transition: all 0.2s ease-in-out;
} 

.productCard:active {
    filter: brightness(1.2);
    transition: all 0.2s ease-in-out;
} 

.productCard-img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 200px;
    height: 200px;
}

.productCard-details {
    padding: 10px;
    height: 200px;
    background: linear-gradient(to bottom, #1d3557 0%, transparent 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.productCard-div {
    margin-bottom: 5px;
}