.viewProduct {
    display: flex;
    flex-direction: column;
    margin: 40px;
    /* padding: 30px; */
    background-color: #a8dadc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
  
.viewProduct-info {
    display: flex;
    align-items: flex-start;
    /* justify-content: start; */
    margin-bottom: 40px;
}
  
.viewProduct-info img {
    margin: 20px;
    width: 400px;
    height: 400px;
    object-fit: contain;
}
  
.viewProduct-det {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
  
.viewProduct-det h1 {
    color: #1d3557;
    margin-bottom: 10px;
    font-size: 2.5rem;
}
  
.viewProduct-desc {
    color: #1d3557;
    margin-bottom: 20px;
    font-size: 1rem;
}
  
.viewProduct-cat,
.viewProduct-count {
    margin-bottom: 10px;
    font-size: 1rem;
}
  
.viewProduct-price {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #1d3557;
}

#viewProduct-price {
    color: #c91616;
}
  
.viewProduct-btn {
    display: flex;
    justify-content: flex-start;
}
  
.viewProduct-btn button {
    margin: 20px;
    padding: 10px 40px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}
  
#viewProduct-update {
    background-color: #457b9d;
}
  
#viewProduct-update:hover {
    background-color: #1d3557;
}
  
#viewProduct-update:active {
    background-color: #a8dadc;
    color: #1d3557;
}
  
#viewProduct-delete {
    background-color: #ce1e1e;
}
  
#viewProduct-delete:hover {
    background-color: #881616;
}
  
#viewProduct-delete:active {
    background-color: #f8a5a5;
    color: #881616;
}

.viewProduct-comments {
    padding: 20px;
}  